/* 1. تعريف الخط وربطه بالملف المرفوع */
@font-face {
    font-family: 'MyCustomFont';
    src: url('Daken-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 2. تطبيق الخط على عناصر الصفحة */
body {
    font-family: 'MyCustomFont', Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    padding: 50px;
    direction: rtl; /* اتجاه النص للغة العربية */
}

h1 {
    color: #2c3e50;
}

p {
    font-size: 18px;
    line-height: 1.6;
}
